.avatar[data-v-145c1838] {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 50%
}

.avatar img[data-v-145c1838] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center
}

.menu-logged[data-v-60aa34d6] {
    font-weight: 700
}

.user-actions .profile-picture[data-v-60aa34d6] {
    width: 40px;
    vertical-align: middle;
    display: inline-block
}

.user-actions span.username[data-v-60aa34d6] {
    color: #003047;
    margin-left: .3rem;
    font-weight: 700
}

.user-actions span.username[data-v-60aa34d6]:active,
.user-actions span.username[data-v-60aa34d6]:hover {
    color: #157a4c !important
}

.nav-link[data-v-60aa34d6] {
    padding: 0 15px
}

.navbar[data-v-a8f7ead2] {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15);
    padding: 0 30px
}

.navbar.opened[data-v-a8f7ead2] {
    z-index: 9000
}

.brand[data-v-a8f7ead2] {
    height: 60px;
    line-height: 60px;
    margin-right: 30px
}

.brand .logo[data-v-a8f7ead2] {
    max-height: 50px;
    vertical-align: middle
}

.toggler[data-v-a8f7ead2] {
    border: none;
    color: #003047
}

.toggler i[data-v-a8f7ead2] {
    font-size: 35px;
    line-height: 35px
}

.toggler[data-v-a8f7ead2]:focus {
    outline: none
}

[data-v-a8f7ead2] .menu .nav-link {
    color: #003047 !important;
    line-height: 60px;
    font-size: 15px;
    font-weight: 700;
    padding: 0 10px;
    margin: 0
}

[data-v-a8f7ead2] .menu .nav-link span {
    vertical-align: middle
}

[data-v-a8f7ead2] .menu .nav-link:focus,
[data-v-a8f7ead2] .menu .nav-link:hover,
[data-v-a8f7ead2] .menu .nuxt-link-active {
    color: #157a4c
}

@media screen and (min-width:992px) {
    [data-v-a8f7ead2] .menu .nuxt-link-active {
        box-shadow: inset 0 4px 0 #157a4c
    }
}

footer[data-v-0afb5483] {
    background: #062431 url(/_nuxt/img/background_footer.8c2a461.svg);
    background-size: auto;
    background-repeat: no-repeat
}

footer[data-v-0afb5483],
footer a[data-v-0afb5483] {
    color: #fff
}

footer li[data-v-0afb5483] {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 300
}

footer .branding .address[data-v-0afb5483] {
    font-size: 13px;
    font-weight: 300
}

footer .branding .logo[data-v-0afb5483] {
    width: 50%
}

@media screen and (min-width:768px) {
    footer .branding .logo[data-v-0afb5483] {
        width: 80%
    }
}

footer .bottom-informations[data-v-0afb5483] {
    border-top: 1px solid hsla(0, 0%, 100%, .1)
}

footer .bottom-informations .copyright[data-v-0afb5483] {
    font-size: 12px
}

footer .bottom-informations .social-icons[data-v-0afb5483] {
    font-size: 30px
}

@media screen and (max-width:768px) {
    footer .bottom-informations .social-icons[data-v-0afb5483] {
        font-size: 40px
    }
}

footer .bottom-informations .social-icons a[data-v-0afb5483] {
    color: #fff
}

footer .bottom-informations .social-icons a[data-v-0afb5483]:hover {
    color: #999
}

footer .bottom-informations .social-icons a[data-v-0afb5483]:not(:first-child) {
    margin-left: 20px
}

.forgotten-password[data-v-45004bd2] {
    font-size: .9rem;
    font-weight: 700
}

.input-icon input[data-v-45004bd2] {
    position: relative;
    font-size: 1rem;
    height: auto;
    padding: .8rem 1rem .8rem 3.2rem
}

.input-icon input[data-v-45004bd2]::-moz-placeholder {
    font-weight: 700;
    color: #ced4da
}

.input-icon input[data-v-45004bd2]:-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da
}

.input-icon input[data-v-45004bd2]::placeholder {
    font-weight: 700;
    color: #ced4da
}

.input-icon .inner-icon[data-v-45004bd2] {
    position: absolute;
    top: 13px;
    left: 18px;
    height: 24px;
    width: auto
}

.show-password[data-v-45004bd2] {
    margin-top: .2rem;
    text-align: right;
    font-size: .85em;
    cursor: pointer;
    color: #999;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.social-login[data-v-2b1fcd40] {
    display: block
}

.social-login button[data-v-2b1fcd40] {
    width: 100%
}

.separator[data-v-2b1fcd40] {
    position: relative;
    text-align: center;
    z-index: 1
}

.separator[data-v-2b1fcd40]:before {
    border-top: 2px solid #999;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1
}

.separator span[data-v-2b1fcd40] {
    font-size: .9rem;
    font-weight: 700;
    color: #999;
    background: #fff;
    padding: 0 20px
}

.footer-auth[data-v-2b1fcd40] {
    text-align: center;
    color: #999;
    font-weight: 700
}

.footer-auth .link[data-v-2b1fcd40] {
    color: #157a4c;
    cursor: pointer
}

.input-icon input[data-v-1123d3c1] {
    position: relative;
    font-size: 1rem;
    height: auto;
    padding: .8rem 1rem .8rem 3.2rem
}

.input-icon input[data-v-1123d3c1]::-moz-placeholder {
    font-weight: 700;
    color: #ced4da
}

.input-icon input[data-v-1123d3c1]:-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da
}

.input-icon input[data-v-1123d3c1]::placeholder {
    font-weight: 700;
    color: #ced4da
}

.input-icon .inner-icon[data-v-1123d3c1] {
    position: absolute;
    top: 13px;
    left: 18px;
    height: 24px;
    width: auto
}

.show-password[data-v-1123d3c1] {
    margin-top: .2rem;
    text-align: right;
    font-size: .85em;
    cursor: pointer;
    color: #999;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.separator[data-v-e795c0c2] {
    position: relative;
    text-align: center;
    z-index: 1
}

.separator[data-v-e795c0c2]:before {
    border-top: 2px solid #999;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1
}

.separator span[data-v-e795c0c2] {
    font-size: .9rem;
    font-weight: 700;
    color: #999;
    background: #fff;
    padding: 0 20px
}

.social-login[data-v-e795c0c2] {
    display: block
}

.social-login button[data-v-e795c0c2] {
    width: 100%
}

.footer-auth[data-v-e795c0c2] {
    text-align: center;
    color: #999;
    font-weight: 700
}

.footer-auth .link[data-v-e795c0c2] {
    cursor: pointer;
    color: #157a4c
}

.approve-cookies[data-v-5dafc7dd] {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    font-size: .8rem;
    color: #003047;
    line-height: 1.2rem;
    max-width: 100%;
    border-radius: 5px;
    z-index: 9999;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15)
}

@media screen and (min-width:576px) {
    .approve-cookies[data-v-5dafc7dd] {
        max-width: 375px
    }
}

.approve-cookies .title[data-v-5dafc7dd] {
    font-size: 1.2rem;
    line-height: 2.5rem;
    font-weight: 700
}

.approve-cookies .title .icon-cookie[data-v-5dafc7dd] {
    height: 1.4rem;
    vertical-align: middle;
    margin-right: .3rem
}